body{
    --color-rouge:rgb(220, 46, 36);
    --color-beige:#f7f7f7;
}
.container_game{
    margin-top: 50px;
    background: radial-gradient(ellipse at top, #a14f14, transparent),
            radial-gradient(ellipse at bottom,  #6c370d, transparent);
    width: 800px;
    height: 400px;
}
/* player 1 */

.container_player1{
    background-color:white;
    height: 365px;
}



/* player 2 */
.container_player2{
    background-color: white;
}
.score_globalle-resultat2{
    height: 50px;
    width: 50px;
    background-color:var(--color-beige);
    color: var(--color-rouge);
}
/* ---------------container des------------------ */
.container_des{
/* background-color:rgba(255, 255, 255, 0.268); */
height: 365px;
/* border: solid 1px; */
width: 150px;
}


/* --------------------global-------------------- */
.title_players,.text_current{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 60px;
 
}
.texts_middle{
    border: none;
    padding: auto;
    background-color:transparent;
    font-family: 'Lato', sans-serif;

}

.scoreCurrent{
    background-color:var(--color-rouge);
    width: 90px;
    height: 70px;
    margin:auto;
}
.score_globalle{
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 70px;
}
.score_globalle-resultat{
    font-size: 3rem;
    margin: auto;
    color: var(--color-rouge);
}
.text_current{
    margin-top: 10px;
    font-size: 10px;
}
.score_current {
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: var(--color-rouge);
    color: white;
}
.bi{
    
    color: var(--color-rouge);
    
}
.texts_middle{
    margin: auto;
    color: black;
}
/*  style tour player  js */

.tour_player{
    background-color:var(--color-beige);

}
.tour_player .title_players{
    font-weight: 400;
}
.tour_player .play_pastille {
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:var(--color-rouge);
    margin-top: auto;
    margin-bottom: auto;
    
}
.inactive{
    display: none;
}



/* pop up */
.pop-up {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
    transition: 1s ease-out;
  }
  .pop-up.active{
    display: flex;
  }
  .pop-up-container {
    padding: 20px;
    background-color: rgb(230, 77, 77);

  }
  .pop-up-container h3 {
    color: white;
    margin: 1rem;
    font-size: 1rem;
  }

  /* bouton close popup */
  #btnClose{
    position: absolute;
    top: 0;
    right: 0;
    

  }
  .bi-x {
    font-size: 3rem;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1000;
  }
  .bi-x:hover {
    color: rgb(211, 242, 251);
    transform: translateX(-1px);
  }
  .bi-x:active {
    transform: scale(1.5);
  }